<form method="POST" action="/items">
  Name: <input type="text" name="item">
  Price: <input type="number" name="price">
  <input type="submit" value="Create Item!">
</form>

<!-- this file does takes new item info from user and uses HTTP post -->
